[Unit]
Description=rarelay service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/path/to/rarelay.py
Restart=on-failure
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target

